* {
  margin: 0;
  padding: 0;
  
}

#name {
  width: 100%;
  height: 50vh;
  font-size: 150%;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  background: #c4cac6;
  line-height: 6rem;
  color: #476965;
}

h3:hover,
h2:hover,
h1:hover {
  letter-spacing: 7px;
  color: black;
  text-shadow: 4px 4px 6px rgba(248, 142, 100, 0.9);
}
.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 7px;
  grid-row-gap: 7px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
  font-size: 25px;
  line-height: 50px;
  color: #476965;

}
.div2:hover{
  text-shadow: 4px 4px 6px rgba(248, 142, 100, 0.9);

}



.div3 {
  grid-area: 1 / 3 / 2 / 4;
  background: url('/images/B084BA9F-DDFB-401E-9991-D4DB025E6CD2.JPG') no-repeat center top/contain;
justify-content: center;
  opacity:0.8;
}
#page-2{
    /* background: chocolate; */
  height: 100vh;    
}
#page-2 >div{
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
align-content: center;
align-items: center;
position: relative;

}
#page-2 img{
  position: absolute;
opacity:0.4;
width:100%;
height: 100%;;

}


.main{
  font-size: 50px;
  /* border:2px solid red; */
  width:70%;
  height:99vh;
  position:relative;
 
}
.main h1{
  width:60%;
  margin:auto;
  color: #476965;
  margin-top: 8%;

}
.main h1:hover{
  margin-top: 2%;
}

.main h1 span{
  font-size: 18px;
}

.main .par{
  font-size:10px;
}
.main .par1{
  top:0; 
  left:0;
  width:30%;
  background: #476965;
  transform:scale(0.2);
  position:absolute;
}
.main .par1:hover{
  font-size:23px;
  transform:scale(1);
  color: #476965;
  text-shadow: 4px 4px 6px rgba(248, 142, 100, 0.9);
  background: #c4cac6;
  border-radius: 30px;
  padding:7px;
}
.main .par2{
  top:0; 
  left:30%;
  width:30%;
  background: #476965;
  transform:scale(0.2); 
  position: absolute;
}
.main .par2:hover{
  font-size:23px;
  transform:scale(1);
  color: #476965;
  text-shadow: 4px 4px 6px rgba(248, 142, 100, 0.9);
  background: #c4cac6;
  border-radius: 30px;
  padding:7px;


}
.main .par3{
  top:0; 
  left:70%;
  width:30%;
  background: #476965;
  transform:scale(0.2); 
  position: absolute;
}
.main .par3:hover{
  font-size:23px;
  transform:scale(1);
  color: #476965;
  text-shadow: 4px 4px 6px rgba(248, 142, 100, 0.9);
  background: #c4cac6;
  border-radius: 30px;
  padding:7px;


}

.main .par4{
  bottom:0; 
  left:20%;
  width:30%;
  background: #476965;
  transform:scale(0.2); 
  position: absolute;
}
.main .par4:hover{
  font-size:23px;
  transform:scale(1);
  color: #476965;
  text-shadow: 4px 4px 6px rgba(248, 142, 100, 0.9);
  background: #c4cac6;
  border-radius: 30px;
  padding:7px;


}
.main .par5{
  bottom:0; 
  left:70%;
  width:30%;
  background: #476965;
  transform:scale(0.2); 
  position: absolute;
}
.main .par5:hover{
  font-size:23px;
  transform:scale(1);
  color: #476965;
  text-shadow: 4px 4px 6px rgba(248, 142, 100, 0.9);
  background: #c4cac6;
  border-radius: 30px;
  padding:7px;

}

#page-3 {
  width: 100%;
  height: 98vh;
  background-color: #e8e9eb;
  display: flex;
  justify-content: center; 

}

.my-projects {
  width: 80%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 0px;
}

.box {
  text-align: center;
  border-radius: 30%;
  padding: 5%; 
  text-shadow: 4px 4px 6px rgba(248, 142, 100, 0.9);
  font-size: 23px;

}

.project-1 {
  /* top:10px;
  left:10px; */
  grid-area: 1 / 1 / 2 / 2;
  background: url(/images/milan-csizmadia-d0V_DQO_xUM-unsplash.jpg)no-repeat center center/cover;
  transform: scale(1);
  transition: 1s ease transform;
  height: 40%;
}

.project-1 a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.project-1:hover {
  transform: scale(1.1);
  transition: 1s ease all;
}
.project-1 button{
  margin-top:70px;
  padding:10px 5px;
  background: whitesmoke;
  border-radius: 15px;
}

.project-2 {
  margin-top:25vh;
height:40%;
  grid-area: 1 / 2 / 2 / 3;
  background: url(/images/zhang-kaiyv-dhiOkqjewAM-unsplash.jpg)no-repeat center center/cover;
  transform: scale(1);
  transition: 1s ease transform;
  
}

.project-2 a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.project-2:hover {
  transform: scale(1.1);
  transition: 1s ease all;
}
.project-2 button{
  margin-top:70px;
  padding:10px 5px;
  background: whitesmoke;
  border-radius: 15px;
}

.project-3 {
  margin-top:50vh;
  height: 40%;
  grid-area: 1 / 3 / 2 / 4;
  background: url(/images/loading-icon-on-black-vector-24545831.jpg)no-repeat center center/cover;
  transform: scale(1);
  transition: 1s ease transform;
  color: whitesmoke;
}

.project-3:hover {
  transform: scale(1.1);
  transition: 1s ease all;
  font-size: 30px;
  letter-spacing: 7px;
}
#page-4 {
  height: 107vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 7px;
    grid-row-gap: 7px;
    background: url('/images/nordwood-themes-EZSm8xRjnX0-unsplash.jpg')no-repeat center center/cover;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }

    .lside{
      text-align: center;
      margin:20px;
      font-size: 150%;
      color: #476965;

    }
    .rside{
      margin:25px;
      font-size: 130%;
      margin-left: 80px;
    }
    
    .rside a{
      text-decoration: none;
      color:black;
    }
    .rside h3{
      color: #476965;

    }

    .rside ul{
            list-style:none;

    }
  
.rside ul li .deg1 a{
  color:#F7941D;
}
.rside ul li .deg2 a{
  color:#ED1C24;
}
.rside ul li .deg3 a{
  color:#BC2E6B;
}
.rside ul li .deg4 a{
  color:#3C70B4;
}
.rside ul li .deg5 a{
  color:#89C05E;
}
.rside ul li:nth-child(4) ul li{
 display: inline-block;
 margin:3px;
}
 input, textarea{
   font-size: large;
   border-radius: 3px;
  border:2px solid #476965 ;
  margin:3px
 }
 .re{
   display: inline-block;
 }
 .re input{
   margin:-20px 10px;
   padding:0px 10px;
 }

 @media (max-width:700px){
  
   #name{
     display:flex;
     flex-direction: column;
   }
   .parent .div2 p{
     margin-right:150px;
     width:200%;
    font-size: 16px;
   }
   #page-2{
    display:flex;
    flex-direction: column;
  } 
  #page-2 h1{
    font-size: 23px;
    height: 100%;
margin-top:50%;
}
  #page-3{
    display:flex;
    flex-direction: column;
  }
   #page-4{
    display:flex;
    flex-direction: column;
    height: 130vh;
  }

 }